<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VVSU API</title>
        <link rel="shortcut icon" href="vvsu.png" type="image/png">
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        
        <form class="box" action="get-token/" method="post">
            <h1>User already exist</h1>
            <a href="/">try again</a>
            <br>
            <br>
            <a href="/main">go to main</a>
        </form>

    </body>
</html>